[class^='number-slide'],
[class*=' number-slide'] {
  background: grey;
  /* display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 500; */
  color: #fff;
  height: 300px;
  max-height: 100vh;
}
.keen-slider__slide {
  background-color: #174a44;
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #047857;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #cdcdcd;
  cursor: pointer;
}

.arrow--left {
  left: 100px;
}

.arrow--right {
  left: auto;
  right: 100px;
}

.arrow--disabled {
  fill: rgba(116, 114, 114, 0.5);
  cursor: not-allowed;
}
